
button {
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0 1px 4px black;
}

.button-primary {
  background-color: red;
  color: white;
  padding: .25rem .5em;
  cursor: pointer;

  &:hover {
    background-color: crimson;
  }
}

