
.main {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: grid;
  grid-template-areas: 
  "side-menu viewport side-container"
  "side-menu bottom-container side-container"
  "footer footer footer";
  grid-template-columns: 4rem calc(80% - 4rem) 20%;
  grid-template-rows: calc(70% - 1.75rem) 30% 1.75rem;
}

.container {

  display: flex;
  padding: 5px;
  box-shadow: inset 0 0 1em black;
  background-color: #222;

  &.viewport:nth-child(1) {
    grid-area: viewport;
  }
  &.side-container:nth-child(2) {
    grid-area: side-container;
  }
  &.bottom-container:nth-child(3) {
    grid-area: bottom-container;
  }
  &.side-menu:nth-child(4) {
    grid-area: side-menu;
  }
  &.footer:nth-child(5) {
    grid-area: footer;
  }

  & > .container-content {
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 4px;
    border: 1px solid red;
    box-sizing: border-box;
    box-shadow: inset 0 0 1em black;
  }

}

