

.camera-properties {

  & >
  .simplebar-wrapper >
  .simplebar-mask >
  .simplebar-offset >
  .simplebar-content-wrapper >
  .simplebar-content {

    & > h3 {
      padding: .8rem 1rem;
      color: white;
      background-color: #500;
      font-weight: normal;
    }

    & > div:nth-child(2) {

      display: flex;
      align-items: center;

      & > * {
        margin: .4rem 0 .4rem .4rem;
      }

      & > select {
        width: 6rem;
        background-color: transparent;
        padding: .285rem .25rem;
        outline: none;
        color: white;
        border: 1px solid white;
        border-radius: 4px;

        &:hover {
          background-color: #222;
        }
      }

      & > button {
        padding-top: .4rem !important;
        padding-bottom: .4rem !important;
      }
    }
    

  }
}